<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <style>
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    button {
      width: 100px;
      height: 50px;
      border: none;
      background-color: coral;
      border-radius: 50px;
      margin-top: 10px;
    }

    input {
      border-radius: 10px;
      width: 50%;
      height: 40px;
      border: 1px solid black;
    }
  </style>

</head>
<script>
  async function postearContenido() {

    const autor = document.getElementById("autor").value
    const contenido = document.getElementById("contenido").value

    const data = {
      autor: autor,
      contenido: contenido
    }
    const response = await fetch("/posteos", {
      method:
        "POST", //mode: 'no-cors', 
      headers: { "Content-Type": "application/json", },
      body: JSON.stringify(data),
    });
  }


</script>

<body>
  <div class="container">
    <label>Usuario</label>
    <input type="text" name="autor" id="autor" />
    <label>Contenido</label>
    <textarea name="contenido" id="contenido"></textarea>
    <button onclick="postearContenido()">Enviar Post</button>
  </div>
</body>

</html>

{{!--
const response = fetch("", {
method: "", // POST, PUT, DELETE, GET
body: JSON.stringify() // dentro del parentesis la data
})

--}}