<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<script>
    async function sendData() {
        const usuario = document.getElementById("usuario").value
        const contraseña = document.getElementById("contraseña").value
        const data = {
            usuario: usuario, 
            contraseña: contraseña
        }

        const response = await fetch("/register", {
            method: "POST",
            //mode: 'no-cors',
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
        });
    }
</script>

<body>
    <div>
        <h1>Soy el register</h1>

        <label>Usuario</label>
        <input type="input" placeholder="Ingrese usuario" id="usuario" />
        <label>Contraseña</label>
        <input type="input" placeholder="Ingrese contraseña" id="contraseña" />
        <button onclick="sendData()"> Login </button>

    </div>
</body>


</html>